##TIMESTAMP## devname="##DEVICE##" devid="FG100F0000000001" vd="root" logid="0100044546" type="event" subtype="system" level="notice" eventtime=1706140800 logdesc="Configuration changed" user="##USER##" ui="CLI" action="Edit" cfgpath="##CFGPATH##" cfgattr="set status enable" msg="Configuration changed by ##USER## from CLI: ##CFGPATH##"
##TIMESTAMP## devname="##DEVICE##" devid="FG100F0000000001" vd="root" logid="0100044547" type="event" subtype="system" level="notice" eventtime=1706140800 logdesc="Configuration changed" user="##USER##" ui="GUI" action="Edit" cfgpath="##CFGPATH##" cfgattr="set name test-policy" msg="Configuration changed by ##USER## from GUI: ##CFGPATH## set name from 'old-policy' to 'test-policy'"
