##TIMESTAMP## devname="##DEVICE##" devid="FG100F0000000001" vd="root" logid="0101037125" type="event" subtype="vpn" level="information" eventtime=1706140800 logdesc="Phase1 up" tunnelid="##TUNNELNAME##" tunnelname="##TUNNELNAME##" remip="203.0.113.50" locip="192.168.1.1" msg="Phase1 up for tunnel ##TUNNELNAME##"
##TIMESTAMP## devname="##DEVICE##" devid="FG100F0000000001" vd="root" logid="0101037132" type="event" subtype="vpn" level="information" eventtime=1706140800 logdesc="IPsec tunnel up" tunnelid="##TUNNELNAME##" tunnelname="##TUNNELNAME##" remip="203.0.113.50" locip="192.168.1.1" msg="IPsec tunnel ##TUNNELNAME## is up"
