##TIMESTAMP## devname="##DEVICE##" devid="FG100F0000000001" vd="root" logid="0103040001" type="event" subtype="system" level="alert" eventtime=1706140800 logdesc="Hardware failure" msg="##COMPONENT## failed on device ##DEVICE##"
##TIMESTAMP## devname="##DEVICE##" devid="FG100F0000000001" vd="root" logid="0103040002" type="event" subtype="system" level="critical" eventtime=1706140800 logdesc="Power supply failure" msg="PSU 1 power failure detected on ##DEVICE##"
##TIMESTAMP## devname="##DEVICE##" devid="FG100F0000000001" vd="root" logid="0103040003" type="event" subtype="system" level="critical" eventtime=1706140800 logdesc="Temperature alarm" msg="Temperature sensor reports 85°C on ##DEVICE##, threshold exceeded"
