##TIMESTAMP## devname="##DEVICE##" devid="FG100F0000000001" vd="root" logid="0100020010" type="event" subtype="ha" level="warning" eventtime=1706140800 logdesc="HA state changed" ha_state="##HASTATE##" from_state="##FROMSTATE##" member="FG100F0000000002" msg="HA state changed from ##FROMSTATE## to ##HASTATE##"
##TIMESTAMP## devname="##DEVICE##" devid="FG100F0000000001" vd="root" logid="0104043544" type="event" subtype="ha" level="warning" eventtime=1706140800 logdesc="HA member status" ha_state="##HASTATE##" serial="FG100F0000000002" msg="HA cluster member status: ##HASTATE##, reason: link monitor"
##TIMESTAMP## devname="##DEVICE##" devid="FG100F0000000001" vd="root" logid="0104043545" type="event" subtype="ha" level="critical" eventtime=1706140800 logdesc="HA failover" ha_state="standalone" from_state="##FROMSTATE##" msg="HA failover occurred, device is now standalone"
